* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [3]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [4]:
df['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [5]:
len(df)

150

In [6]:
len(df) == df.shape[0]

True

In [7]:
df['species'].nunique()

3

In [8]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

In [9]:
df.describe(include=[np.object])

           species
count          150
unique           3
top     versicolor
freq            50

In [10]:
df.describe(exclude=[np.object])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
df['petal_width'].sum()

179.90000000000003

In [ ]:
df['petal_width'].count()

In [ ]:
df.median()

In [ ]:
df.mean()

In [ ]:
df['petal_width'].quantile([0.25,0.75])

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.var()

In [ ]:
df.std()

### apply(function)

In [ ]:
def smp(x):
    # 뒤에서 3번째까지의 문자를 가져오는 함수
    x = x[-3:]
    return x

In [ ]:
df['species_3'] = df['species'].apply(lambda x : x[:3])

In [ ]:
df['species-3'] = df['species'].apply(smp)

In [ ]:
df